#Editors
*.iml
.idea/

#JEnv
.java-version

#Maven & Gradle
target/
build/
.gradle/

# CDK & infra stuff
*.js
!jest.config.js
!.prettierrc.js
!.eslintrc.js
*.d.ts
node_modules/

.cdk.staging
cdk.out/
