name: Java - build and test

on:
  push:
    paths:
      - "java/**"
      - ".github/workflows/build-java.yml"

jobs:
  build-and-test-java:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: java

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: "corretto"
          cache: "maven"

      - name: Build and test / Maven
        run: mvn -B clean package

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.1

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: Build and test / Gradle
        run: |
          ./gradlew build
